                        <!--// Widget TeamRanking \\-->
                        <div class="widget widget_team_ranking">
                            <div class="sportsmagazine-fancy-title"><h2>Classement</h2></div>
                            <div class="ranking-title-table">
                                <ul class="ranking-title-row">
                                    <li>Conférence West</li>
                                    <li>Match</li>
                                    <li>Gagné</li>
                                    <li>Perdu</li>
                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                            <div class="ranking-content-table">
                                <ul class="ranking-content-row">

                                </ul>
                            </div>
                        </div>
                        <!--// Widget TeamRanking \\-->