
<body>

    <!--// Fancy Title \\--> <div class="sportsmagazine-fancy-title"><h2>La Météo</h2></div> <!--// Fancy Title \\-->
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="main">
        <!--Dayspedia.com widget--><iframe width='280' height='196' style='padding:0!important;margin:0!important;border:none!important;background:none!important;background:transparent!important' marginheight='0' marginwidth='0' frameborder='0' scrolling='no' comment='/*defined*/' src='https://dayspedia.com/widgets/digit/?v=1&iframe=eyJ3LTEyIjpmYWxzZSwidy0xMSI6dHJ1ZSwidy0xMyI6dHJ1ZSwidy0xNCI6dHJ1ZSwidy0xNSI6dHJ1ZSwidy0xMTAiOnRydWUsInctd2lkdGgtMCI6ZmFsc2UsInctd2lkdGgtMSI6dHJ1ZSwidy13aWR0aC0yIjpmYWxzZSwidy0xNiI6IjI0cHgiLCJ3LTE5IjoiNDgiLCJ3LTE3IjoiMTYiLCJ3LTIxIjp0cnVlLCJiZ2ltYWdlIjo2LCJiZ2ltYWdlU2V0Ijp0cnVlLCJ3LTIxYzAiOiIjZjUwMDAwIiwidy0wIjp0cnVlLCJ3LTMiOnRydWUsInctM2MwIjoiIzBlMDcwNyIsInctM2IwIjoiMSIsInctNiI6IiNmZmZmZmYiLCJ3LTIwIjp0cnVlLCJ3LTQiOiIjZmZmZmZmIiwidy0xOCI6dHJ1ZSwidy13aWR0aC0yYy0wIjoiMzAwIn0=&lang=fr&cityid=1148'></iframe><!--Dayspedia.com widget ENDS-->
        <div class="meteo"></div>
    </div>

</body>

