<!--// Fancy Title \\--> <div class="sportsmagazine-fancy-title"><h2>La Ville</h2></div> <!--// Fancy Title \\-->
<!--// Featured Slider \\-->
<div class="sportsmagazine-featured-slider">
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="ville" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="tags"></h2>
        </div>
    </div>
</div>

