<!--// Fancy Title \\--> <div class="sportsmagazine-fancy-title"><h2>Les Joueurs </h2></div> <!--// Fancy Title \\-->

<div class="sportsmagazine-featured-slider">
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>
    <div class="sportsmagazine-featured-slider-layer">
        <img class="joueurs" src="" alt="">
        <span class="sportsmagazine-black-transparent"></span>
        <div class="sportsmagazine-featured-caption">
            <h2 class="joueurs"></h2>
            <div class="span"></div>
        </div>
    </div>

</div>