<!--// Advertisement \\-->
<figure class="sportsmagazine-add-banner">
    <img src="../../../extra-images/add-thumb-1.jpg" alt="">
    <span class="sportsmagazine-add-transparent"></span>
    <figcaption>
        <div class="sportsmagazine-addbanner-caption">
            <h2>Take a look at the brand New Uniforms for next season</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utac malesuada ante. Curabitur lacinia.</p>
            <a href="404.html" class="sportsmagazine-banner-btn">Read More <span></span></a>
        </div>
    </figcaption>
</figure>
<!--// Advertisement \\-->