<body>
  <!--// Main Banner \\-->
<div class="sportsmagazine-banner">
        <!--// Slider \\-->
          <app-titre></app-titre>
        <!--// Slider \\-->
        
</div>
<!--// Main Banner \\-->
<!--// Main Wrapper \\-->

<div class="sportsmagazine-main-wrapper">
    
<!--// Main Content \\-->
<div class="sportsmagazine-main-content">

  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section">
    <div class="container">
      <div class="row">
        
                    <!--// Fixture Slider \\-->
        <div class="col-md-12">
                      <app-calendrier-match></app-calendrier-match>
                    </div>
                    <!--// Fixture Slider \\-->

                    <!--// Content \\-->
                    <div class="col-md-8">
                        
                        <app-ville></app-ville>
                        <app-match-suivant></app-match-suivant>
                        <app-joueur></app-joueur>
                        <app-youtube></app-youtube>
                        <app-reaction></app-reaction>
                        

                    </div>
                    <!--// Content \\-->

                    <!--// SideBaar \\-->
                    <aside class="col-md-4">

                        <!--// Widget Popular meteo \\-->
                        <!--// Fancy Title \\--> <div class="sportsmagazine-fancy-title"><h2>L'Equipe </h2></div> <!--// Fancy Title \\-->
                        <div><img style="border-radius: 30px;" src="../images/Lakers.jpg"></div><br/>
                        <!--// Widget Popular meteo \\-->

                        <!--// Widget Popular meteo \\-->
                        <app-meteo></app-meteo><br/>
                        <!--// Widget Popular meteo \\-->

                        <!--// Widget dernier Match \\-->
                        <app-dernier-score></app-dernier-score><br/><br/>
                        <!--// Widget dernier Match \\-->

                        <!--// Widget TeamRanking \\-->
                        <app-classement></app-classement><br/>
                        <!--// Widget TeamRanking \\-->

                    </aside>
                    <!--// SideBaar \\-->
                    

      </div>
    </div>
  </div>
  <!--// Main Section \\-->

</div>
<!--// Main Content \\-->

<app-down-baniere></app-down-baniere>

</div>
<!--// Main Wrapper \\-->


<!-- jQuery (necessary for JavaScript plugins) -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript" src="../script/ville.js"></script>
<script type="text/javascript" src="../script/jquery.js"></script>
<script type="text/javascript" src="../script/bootstrap.min.js"></script>
<script type="text/javascript" src="../script/slick.slider.min.js"></script>
<script type="text/javascript" src="../script/jquery.countdown.min.js"></script>
<script type="text/javascript" src="../script/fancybox.pack.js"></script>
<script type="text/javascript" src="../script/isotope.min.js"></script>
<script type="text/javascript" src="../script/progressbar.js"></script>
<script type="text/javascript" src="../script/counter.js"></script>
<script type="text/javascript" src="../script/functions.js"></script>



</body>