

<!--// Fancy Title \\--> <div class="sportsmagazine-fancy-title"><h2>Youtube Media</h2></div> <!--// Fancy Title \\-->

<div class="sportsmagazine-featured-slider">    
    <div class="sportsmagazine-fixture-slider-layer">
        <iframe id="video" width="600" height="340" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <iframe id="video" width="600" height="340" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <iframe id="video" width="600" height="340" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <iframe id="video" width="600" height="340" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <iframe id="video" width="600" height="340" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <iframe id="video" width="600" height="340" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <iframe id="video" width="600" height="340" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <iframe id="video" width="600" height="340" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

