<div class="sportsmagazine-banner-one">
    <div class="sportsmagazine-banner-one-layer">
        <span class="sportsmagazine-banner-pattren"></span>
            <div class="laBanniere-1">
                <div class="TitrelaBanniere" >
                    <img src="images/logo-2.png" alt="image logo"  > 
                </div>
                <div class="H1laBanniere" >
                    <h1><span>TA</span><strong class="sportsmagazine-color"> PASSION </strong> </h1>
                </div>
             </div>
    </div>
    <div class="sportsmagazine-banner-one-layer">
        <span class="sportsmagazine-banner-pattren"></span>
        <div class="laBanniere-2">
            <div class="TitrelaBanniere" >
                <img src="images/logo-2.png" alt="image logo"  > 
            </div>
            <div class="H1laBanniere" >
                <h1><span>TON</span><strong class="sportsmagazine-color"> EQUIPE </strong> </h1>

            </div>
         </div>
    </div>
</div>