                        <!--// Widget Popular News \\-->
                        <div class="widget widget_popular_news">
                            <div class="sportsmagazine-fancy-title"><h2>News</h2></div>
                            <ul>
                                <li>
                                    <span>01</span>
                                    <div class="popular_news_text">
                                        <small>The Team</small>
                                        <a href="blog-detail.html">Basketball Stadium will a max capacity for 5000 fans</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                                <li class="widget-injuries">
                                    <span>02</span>
                                    <div class="popular_news_text">
                                        <small>Injuries</small>
                                        <a href="blog-detail.html">The Clovers defense must reinvent itself without</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                                <li class="widget-theleague">
                                    <span>03</span>
                                    <div class="popular_news_text">
                                        <small>The League</small>
                                        <a href="blog-detail.html">Take look to the brand new helmets for next season</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                                <li>
                                    <span>04</span>
                                    <div class="popular_news_text">
                                        <small>The Team</small>
                                        <a href="blog-detail.html">The Basketball women division started training</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                                <li>
                                    <span>05</span>
                                    <div class="popular_news_text">
                                        <small>The Team</small>
                                        <a href="blog-detail.html">Basketball Stadium will  a max capacity for 5000 fans</a>
                                        <time datetime="2008-02-14 20:00">December 21, 2017</time>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--// Widget Popular News \\-->