<div class="sportsmagazine-fixture-slider">
                            
    <div class="sportsmagazine-fixture-slider-layer">
        <time datetime="2008-02-14 20:00">August 25, 2016</time>
        <ul class="sportsmagazine-bgcolor">
            <li class="first-child">BRC <span>05</span></li>
            <li>RM <span>02</span></li>
        </ul>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <time datetime="2008-02-14 20:00">August 25, 2016</time>
        <ul class="sportsmagazine-bgcolor">
            <li class="first-child">BRC <span>05</span></li>
            <li>RM <span>02</span></li>
        </ul>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <time datetime="2008-02-14 20:00">August 28, 2016</time>
        <ul class="sportsmagazine-bgcolor">
            <li class="first-child">CIT <span>03</span></li>
            <li>KIN <span>03</span></li>
        </ul>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <time datetime="2008-02-14 20:00">August 31, 2016</time>
        <ul class="sportsmagazine-bgcolor">
            <li class="first-child">ST <span>00</span></li>
            <li>FRA <span>01</span></li>
        </ul>
    </div>
    <div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
        <time datetime="2008-02-14 20:00">September 03, 2016</time>
        <ul class="sportsmagazine-bgcolor">
            <li class="first-child"><small>SPA</small> VS <span>RM</span></li>
            <li>Full Booked</li>
        </ul>
    </div>
    <div class="sportsmagazine-fixture-slider-layer">
        <time datetime="2008-02-14 20:00">September 05, 2016</time>
        <ul class="sportsmagazine-bgcolor">
            <li class="first-child">ARS <span>03</span></li>
            <li>CHL <span>02</span></li>
        </ul>
    </div>
    <div class="sportsmagazine-fixture-slider-layer sportsmagazine-fixture-booked">
        <time datetime="2008-02-14 20:00">December 31, 2016</time>
        <ul class="sportsmagazine-bgcolor">
            <li class="first-child"><small>SPA</small> VS <span>RM</span></li>
            <li>Full Booked</li>
        </ul>
    </div>

</div>